node_modules/

03-bases-node/salida/*.txt

04-tareas-por-hacer/db/*.txt
04-tareas-por-hacer/db/*.json
04-tareas-por-hacer/Imagenes

05-clima-app/.env
05-clima-app/db
05-clima-app/img

06-webserver/.env

07-restserver/.env
07-restserver/.eslintrc.js
07-restserver/images/



